.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore everything except .gitignore
*
!.gitignore

# But descend into directories
!*/

# Recursively allow files under subtree

### Final code
!/final/**.Rmd
!/final/**.pdf

### Final data
# Nationscape data
!/fina/data/Nationscape-DataRelease_WeeklyMaterials_DTA/phase_1_v20200814
!/fina/data/Nationscape-DataRelease_WeeklyMaterials_DTA/phase_2_v20200814

# Gtrends data
!/final/data/us_search_coronavirus.RDS
!/final/data/us_search_covid.RDS
!/final/data/state_search_coronavirus.RDS
!/fina/data/state_search_covid.RDS

# COVID data
!/fina/data/United_States_COVID-19_Cases_and_Deaths_by_State_over_Time.csv

# Lockdown data
!/fina/data/nyt_stay_at_home.csv

# Joined data
!/fina/data/joined_data_2.RDS







!/w1/**.Rmd
!/w1/**.pdf

!/w2/**.Rmd
!/w2/**.pdf

!/w3/**.Rmd
!/w3/**.pdf

!/w4/**.Rmd
!/w4/**.pdf

!/w5/**.Rmd
!/w5/**.pdf

!/w6/**.Rmd
!/w6/**.pdf

!/w7/**.Rmd
!/w7/**.pdf

!/w9/data_assignment9_nov_4_2021.Rmd
!/w9/data_assignment9_nov_4_2021.pdf

!/w10/data_assignment10_nov_11_2021.Rmd
!/w10/data_assignment10_nov_11_2021.pdf